<fm-deliver-to></fm-deliver-to>


<div class="row-fluid">

  <div class="span3 fm-panel">
    <h4>Filtrar Restaurantes</h4>

    <form>

      <h5>Avaliação</h5>

      <fm-rating ng-model="$parent.filter.rating"></fm-rating>


      <h5>Preço</h5>

      <fm-rating ng-model="$parent.filter.price" symbol="R$"></fm-rating>


      <h5>Culinária</h5>

      <div fm-checkbox-list ng-model="filter.cuisine">
        <label ng-repeat="(name, title) in CUISINE_OPTIONS" class="checkbox">
          <input type="checkbox" value="{{name}}"> {{title}}
        </label>
      </div>
    </form>
  </div>


  <div class="span9 fm-panel fm-restaurant-list">
    <h4>
      <ng-pluralize count="restaurants.length"
                    when="{'0'    : 'Nenhum restaurante encontrado. :-(',
                           'one'  : '1 restaurante encontrado!',
                           'other': '{} restaurantes encontrados!'}">
      </ng-pluralize>
    </h4>

    <table class="table table-hover table-striped">
      <tr>
        <th><a href ng-click="sortBy('name')">Nome {{sortIconFor('name')}}</a></th>
        <th><a href ng-click="sortBy('price')">Preço {{sortIconFor('price')}}</a></th>
        <th><a href ng-click="sortBy('rating')">Avaliação {{sortIconFor('rating')}}</a></th>
      </tr>
      <tr ng-repeat="restaurant in restaurants">
        <td>
          <a href="#/menu/{{restaurant.id}}">
            <img class="img-rounded pull-left" ng-src="img/restaurants/{{restaurant.id}}.jpg">
            <b>{{restaurant.name}}</b>
          </a>
          <p>{{restaurant.description}}</p>
        </td>
        <td>
          <fm-rating ng-model="$parent.restaurant.price" symbol="R$" readonly="true" ></fm-rating>
        </td>
        <td>
          <fm-rating ng-model="$parent.restaurant.rating" readonly="true"></fm-rating>
        </td>
      </tr>
    </table>
  </div>
</div>
